<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"
</head>
<body>
<main>
     <h1>Latest News</h1>

{% for m in msg %}
      <article>

          <strong> <div class="added">{{ m.rank }}.{{ m.title }}</div></strong>
         <div class="body">{{ m.summary }}</div>
         <a href="{{ m.link }}">{{ m.link }}</a>
      </article>
      {% endfor %}

</main>
</body>
</html>